@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
    font-size: 30px
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7.5rem;
}

body {
    background-image: url(../images/bg-image.jpg);
}

section {
    padding: 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.heading {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin-bottom: 2rem;
    font-size: 40px;
    color: white;
    text-transform: uppercase;
}

.header .flex p {
    /*Montserrat Pizza - Montserrat*/
    color: #ffffff;
    font-family: "Sansita Swashed", cursive;
    font-size: 24px;
    letter-spacing: 2px;
}

.header .flex p span {
    /*Montserrat Pizza - Pizza*/
    font-family: "sansinita swashed", cursive;
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 32px;
    color: #ffe600;
    text-align: center;
    word-spacing: 0px;
    display: block;
    cursor: pointer;
    margin-right: 40vh;
}

.header .flex .logo {
    /* LOGO */
    font-size: 2.5rem;
    color: white;
}

.logo {
    transition: transform 0.3s ease;
    width: 60px;
    height: 60px;
}

.logo:hover {
    transform: rotate(30deg);
}

/* NAV MENU */
.header {
    /*nav bar*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #121618;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    z-index: 1000;
}

.header .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
    right: 100px;
}

.navigation-menu {
    /* container nav */
    display: flex;
    list-style: none;
    align-items: end;
}

.navigation-menu li {
    /* space between each nav text */
    margin-right: 25px;
}

.navigation-menu li a {
    /* where we can move the whole nav */
    color: white;
    text-decoration: none;
    font-size: 16px !important;
    font-family: "Helvetica Neue", Arial, sans-serif;
    transition: color 0.3s ease;

    position: relative;
    /* move nav to right */
    left: 18rem;
}

.navigation-menu li a:hover {
    color: rgb(236, 77, 4);
}

.navigation-menu li a {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.header .flex .icons-container {
    position: relative;
    left: 150px;

}

.header .flex .icons-container div {
    font-size: 2.5rem;
    color: #666;
    cursor: pointer;
    margin-left: 1.7rem;
}

.header .flex .icons-container div:hover {
    color: #e74c3c;
}

.header .flex .icons-container div span {
    font-size: 1.7rem;
    position: absolute;
    bottom: 12px;
    left: 8.3em;
}

#menu-btn {
    display: none;
}

/* box containers for the pizza images */
.menu .box-container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;
}

.menu .box-container .box {
    /* border: 1px solid limegreen; */
    background-color: transparent;
    border-radius: 2rem;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    position: relative;
    top: 40px;
    /* Move each box down by 20px */
}

.menu .box-container .box:hover {
    transform: scale(1.02);
}

.menu .box-container .box img {
    width: 100%;
    margin-bottom: 10px;
}

/* the box for the price */
.menu .box-container .box .price {
    /* color of the box*/
    background-color: #121618;
    border-radius: .5rem;
    padding: .5rem 1rem;
    font-size: 1.7rem;
    color: #fff;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.menu .box-container .box .price span {
    font-size: 2.5rem;
}

.menu .box-container .box .name {
    /*title for pizza, pizza 1 pizza 2 pizza 3...*/
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    color: #fff;
    margin: .5rem 0;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: start;
}

div.Description {
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
    text-align: start;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 10px;
}

.menu .box-container .box form {
    display: flex;
    gap: 1rem;
}

.menu .box-container .box form .qty {
    width: 8rem;
    border: .1rem solid #666;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: .5rem;
    font-size: 1.8rem;
    color: #333;
}

/* MENU ITEM ATTRIBUTES */
element.style {
    transition: all 0s ease 0s, all 0s ease-in-out 0s, all 0.3s ease 0s;
    color: white;
    border-color: rgb(250, 197, 100);
}

.menu-item-attributes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: fit-content;
}

.menu-item-attributes li {
    border: 1px solid rgba(255, 255, 255, 0.113);
    cursor: pointer;
    text-transform: uppercase;
    font-size: 0.83rem;
    font-family: "Poppins", sans-serif;
    padding: 0.5rem;
    text-transform: uppercase;
    margin-right: 5px;
    /* Add margin-right for spacing - mark gilbert*/
    padding: 1rem 1.5rem;
    /* Adjust padding to increase container size - antok nako 4am na*/
}

.menu-item-attributes li:last-child {
    margin-right: 0;
}

.menu-item-attributes li:hover {
    border-color: orange;
    /* Apply a hover effect */
}

.menu-item-attributes li.active {
    border-color: orange;
}

li {
    font-size: 12.2px;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
}

/*button for add to cart in Our Menu*/
.btn {
    display: block;
    width: 100%;
    margin-top: 1rem;
    border-radius: .5rem;
    padding: 1rem 3rem;
    font-size: 2rem;
    color: #fff;
    /*background-color: rgb(201, 98, 30);*/
    background-color: #067737;
    cursor: pointer;
    text-transform: capitalize;
    text-align: center;
}

.btn:hover {
    /* add to cart button color when you hover it*/
    background-color: rgb(19, 73, 5);
}